<%-include('partials/header')-%>

<div class=" card shadow-sm bank banksingle">
<h1><%=donation.accountnumber%></h1>
<h3><%=donation.ifsc%></h3>
<h3><%=donation.name%></h3>
<h3><%=donation.others%></h3>


</div>



<%-include("partials/footer")-%>
